.converter-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #3275e6;
    border-radius: 10px;
    display: flex;
    width: 400px;
    height: 350px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 49px -12px rgba(0, 0, 0, 0.75);

    .converter-radius {
        width: 10px;
        height: 100%;
        background-color: #3275e6;
        > div {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .converter-swap-currency{
        width: 30px;
        cursor: pointer;
        color: #a5a4a4;
    }

    .converter-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #ffffff;
        height: 100%;
        padding: 25px 50px;
        flex: 2;
    }
}

.converter-input {
    width: 100%;
    border: 0px;
    border-bottom: 3px solid #eee;
    background-color: #ffffff;
    padding: 5px;
}

*:focus {
    outline: none;
}

#convert-button {
    width: 100%;
    border-radius: 20px;
    border: 0px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: #ffffff;
}
