.converter-history-container {
    display: flex;
    height: 350px;
    background-color: #3275e6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 10px;

    .converter-history-head {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        a {
            color: #ffffff;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-decoration: none;
        }
    }

    .converter-history-body {
        width: 300px;
        height: 100%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 0px 20px;

        .history-table-header {
            display: flex;
            border-bottom: 2px solid #6d9cea;
            font-weight: bold;
        }

        .history-table-row {
            display: flex;
            border-bottom: 2px solid #6d9cea;

            .date {
                color: #6d9cea;
            }

            .before {
                color: #6d9cea;
            }
        }

        .date {
            width: 30%;
        }

        .before {
            width: 30%;
            text-align: right;
        }

        .arrow {
            width: 10%;
            text-align: center;
        }

        .after {
            width: 30%;
            text-align: right;
        }

        .history-table-cell {
            padding: 5px 0px;
        }

        #clear-history {
            cursor: pointer;
            text-decoration: underline;
            text-align: center;
        }
    }
}
