.button-active {
    background: rgb(53, 120, 235);
    background: linear-gradient(90deg, rgba(53, 120, 235, 1) 0%, rgba(28, 92, 197, 1) 100%);
    cursor: pointer;
}

.button-inactive {
    background-color: #c2cbd9;
    cursor: default;
}
