.converter-select {
    padding: 10px 15px;
    border: none;
    -webkit-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
}
