.input-append {
    position: absolute;
    color: #aaa;
    top: 0px;
    right: 0px;
}

.input-error {
    color: #ef708a;
    border-bottom-color: #ef708a !important;
    &::placeholder {
        color: #ef708a;
    }
}
