body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #3578eb 0%, #1c5cc5 100%), #f6f7f9;
  background-size: 40% 100%, 100%;
  background-repeat: no-repeat;
  background-position: left;
}

* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nask-logo {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  width: 9.375rem;
  height: 1.5rem;
  opacity: 0.35;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='91.493' width='537.973'%3E%3Cpath d='M406.978 1.103v88.68h38.397V42.665h.613l44.768 47.116h47.217l-51.152-49.684 47.107-38.995h-44.273l-43.667 38.995h-.613V1.103h-38.397m-126.09 61.071c0 6.629 2.333 12.16 6.983 16.564 4.547 4.423 11.414 7.736 20.123 9.937 8.593 1.846 20.113 2.818 33.858 2.818 10.91 0 21.332-.972 30.411-2.818 9.33-2.201 16.681-5.153 22.447-9.56 5.277-4.42 8.105-9.581 8.105-16.2-.621-4.777-2.332-9.207-5.277-12.128-3.308-3.33-7.36-5.904-12.647-7.737-5.143-1.852-10.29-2.952-15.433-4.036-5.167-.748-12.644-1.86-22.948-3.323-15.583-2.214-23.06-5.527-23.06-9.935 0-2.214 1.719-4.423 5.152-5.891 2.945-1.845 6.998-2.583 12.142-2.583 5.766 0 10.304.738 13.736 2.952 3.44 1.832 4.658 4.415 4.658 7.728h38.4V25.38c0-7.72-4.543-13.972-13.747-18.4-8.577-4.416-22.924-6.983-41.325-6.983-11.539 0-21.844 1.107-30.552 2.944-9.073 1.84-16.064 5.145-21.213 9.204-5.162 4.047-7.48 9.19-7.48 15.818 0 5.876 2.318 10.304 6.992 13.973a52.119 52.119 0 0017.169 7.368c6.864 1.837 16.068 3.32 26.984 5.153 2.82.377 5.768.738 9.198 1.468 2.946.376 6.26 1.107 8.71 1.845 2.821.73 5.154 1.845 6.864 3.306 1.73 1.1 2.812 2.947 2.812 4.784 0 2.576-2.316 4.797-6.362 6.26-3.926 1.83-9.078 2.576-16.077 2.576-7.474-.362-12.636-1.845-15.45-4.039-3.44-2.591-4.664-5.174-4.664-8.482h-38.508m-85.99-6.618l18.282-36.79h.606l17.795 36.79zM137.5 89.782h38.516l9.205-16.932h55.556l9.2 16.932h43.047l-54.46-88.68h-46.479zm-137.5 0h34.591V22.066h.493l48.93 67.716h52.262V1.102h-32.751v65.864l-.615.37L54.58 1.103H0v88.68' fill='%23ffffff'/%3E%3C/svg%3E")
    50%/9.375rem auto no-repeat;
  background-size: contain;
}
